@mixin font($font, $urlFonts){
    @font-face {
        font-family: $font;
        src: local($urlFonts);
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}